## NUMATO Mimas V2 ucf file
## http://numato.com/
## Sample board provided by Numato

CONFIG VCCAUX = "3.3" ;

##Clock signal 100 MHz
NET "clk_100m" LOC = V10 | IOSTANDARD = LVCMOS33 | PERIOD = 100MHz ;
Net "clk_100m" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100 MHz high 50%;

NET "LED0" LOC = T18 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;  #D8

NET "RXIN0_p"	LOC = "U8"	| IOSTANDARD = LVDS_33; #Pin 1
NET "RXIN0_n"	LOC = "V8"	| IOSTANDARD = LVDS_33; #Pin 2
NET "RXIN1_p"	LOC = "R8"	| IOSTANDARD = LVDS_33; #Pin 3
NET "RXIN1_n"	LOC = "T8"	| IOSTANDARD = LVDS_33; #Pin 4
NET "RXIN2_p"	LOC = "R5"	| IOSTANDARD = LVDS_33; #Pin 5
NET "RXIN2_n"	LOC = "T5"	| IOSTANDARD = LVDS_33; #Pin 6
NET "CK1IN_p"	LOC = "T9"	| IOSTANDARD = LVDS_33; #Pin 7
NET "CK1IN_n"	LOC = "V9"	| IOSTANDARD = LVDS_33; #Pin 8

#NET "TMDS_out_P(2)"     LOC = "U8"   | IOSTANDARD = LVDS_33 | DRIVE = 8  | SLEW = FAST; # Blue
#NET "TMDS_out_N(2)"    LOC = "V8"   | IOSTANDARD = LVDS_33 | DRIVE = 8  | SLEW = FAST;
#NET "TMDS_out_P(1)"     LOC = "R8"   | IOSTANDARD = LVDS_33 | DRIVE = 8  | SLEW = FAST; # Green    
#NET "TMDS_out_N(1)"    LOC = "T8"   | IOSTANDARD = LVDS_33 | DRIVE = 8  | SLEW = FAST;
#NET "TMDS_out_P(0)"     LOC = "R5"   | IOSTANDARD = LVDS_33 | DRIVE = 8  | SLEW = FAST; # Red  
#NET "TMDS_out_N(0)"    LOC = "T5"   | IOSTANDARD = LVDS_33 | DRIVE = 8  | SLEW = FAST; 
#NET "TMDS_out_CLK_P"     LOC = "T9"   | IOSTANDARD = LVDS_33 | DRIVE = 8  | SLEW = FAST; # CLK
#NET "TMDS_out_CLK_N"    LOC = "V9"   | IOSTANDARD = LVDS_33 | DRIVE = 8  | SLEW = FAST;