NET "clk_in" LOC = P41 | IOSTANDARD = LVCMOS33;
NET "clk_in" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50 MHz HIGH 50%;

net CK1IN_p	LOC=P62 | IOSTANDARD = LVDS_25;
net CK1IN_n	LOC=P63 | IOSTANDARD = LVDS_25; 
net RXIN2_p	LOC=P60 | IOSTANDARD = LVDS_25;
net RXIN2_n	LOC=P61 | IOSTANDARD = LVDS_25;
net RXIN1_p	LOC=P57 | IOSTANDARD = LVDS_25;
net RXIN1_n	LOC=P58 | IOSTANDARD = LVDS_25;
net RXIN0_p	LOC=P53 | IOSTANDARD = LVDS_25;
net RXIN0_n	LOC=P54 | IOSTANDARD = LVDS_25;